<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8fe0c02ec2bc4cbb3a233bd4226de77c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_8fe0c02ec2bc4cbb3a233bd4226de77c" ></div>
        
</body>
<script>
    
    
            var map_8fe0c02ec2bc4cbb3a233bd4226de77c = L.map(
                "map_8fe0c02ec2bc4cbb3a233bd4226de77c",
                {
                    center: [40.463667, -3.74922],
                    crs: L.CRS.EPSG3857,
                    zoom: 6.45,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_8fe0c02ec2bc4cbb3a233bd4226de77c);

            

        
    
            var tile_layer_62fda4adacaffa755f00983644c5a559 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8fe0c02ec2bc4cbb3a233bd4226de77c);
        
    
            var marker_3bf4d69eaadf2119ddcafaec98683c28 = L.marker(
                [41.36476, 2.15565],
                {}
            ).addTo(map_8fe0c02ec2bc4cbb3a233bd4226de77c);
        
    
            var icon_2cb6a4a94743e6c35c3e06e2aed1cbe8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_3bf4d69eaadf2119ddcafaec98683c28.setIcon(icon_2cb6a4a94743e6c35c3e06e2aed1cbe8);
        
    
        var popup_4f139346d182606b67d2411b31bff68a = L.popup({"maxWidth": "100%"});

        
            
                var html_2e05a449cb6e1ca420d99deff279f881 = $(`<div id="html_2e05a449cb6e1ca420d99deff279f881" style="width: 100.0%; height: 100.0%;"><b>Evento: BEYONCÉ | VIP2 PURE/HONEY ON STAGE RISERS</b></div>`)[0];
                popup_4f139346d182606b67d2411b31bff68a.setContent(html_2e05a449cb6e1ca420d99deff279f881);
            
        

        marker_3bf4d69eaadf2119ddcafaec98683c28.bindPopup(popup_4f139346d182606b67d2411b31bff68a)
        ;

        
    
    
            var circle_85d525a4438135ea385a88b31b5f4afa = L.circle(
                [41.36476, 2.15565],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_8fe0c02ec2bc4cbb3a233bd4226de77c);
        
    
            circle_85d525a4438135ea385a88b31b5f4afa.bindTooltip(
                `<div>
                     Estadi Olímpic Lluis Companys
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_b78fdbc6fea5cc780881481fa74c479c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_a75cf52cee240fa755ff4273b4c20050 = new L.Control.MiniMap(
                tile_layer_b78fdbc6fea5cc780881481fa74c479c,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_8fe0c02ec2bc4cbb3a233bd4226de77c.addControl(mini_map_a75cf52cee240fa755ff4273b4c20050);
        
</script>
</html>