<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_db5ac06ef041e5b6993e118f4d3209a5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_db5ac06ef041e5b6993e118f4d3209a5" ></div>
        
</body>
<script>
    
    
            var map_db5ac06ef041e5b6993e118f4d3209a5 = L.map(
                "map_db5ac06ef041e5b6993e118f4d3209a5",
                {
                    center: [40.463667, -3.74922],
                    crs: L.CRS.EPSG3857,
                    zoom: 6.45,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_db5ac06ef041e5b6993e118f4d3209a5);

            

        
    
            var tile_layer_9439206039ac76e2461172aa91d188cd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_db5ac06ef041e5b6993e118f4d3209a5);
        
    
            var marker_1165a33936f14aa9886cabc54594b17c = L.marker(
                [41.36476, 2.15565],
                {}
            ).addTo(map_db5ac06ef041e5b6993e118f4d3209a5);
        
    
            var icon_91a034a00816a1e05899d244fcd8ea6a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_1165a33936f14aa9886cabc54594b17c.setIcon(icon_91a034a00816a1e05899d244fcd8ea6a);
        
    
        var popup_3ddd0e61af3be8b71d051db1b3765c99 = L.popup({"maxWidth": "100%"});

        
            
                var html_ff7f9bb1d4576656b96edb9e30505c4a = $(`<div id="html_ff7f9bb1d4576656b96edb9e30505c4a" style="width: 100.0%; height: 100.0%;"><b>Evento: BEYONCÉ | VIP2 PURE/HONEY ON STAGE RISERS</b></div>`)[0];
                popup_3ddd0e61af3be8b71d051db1b3765c99.setContent(html_ff7f9bb1d4576656b96edb9e30505c4a);
            
        

        marker_1165a33936f14aa9886cabc54594b17c.bindPopup(popup_3ddd0e61af3be8b71d051db1b3765c99)
        ;

        
    
    
            var circle_dceaaf9f0a3da577446873255a5e3b97 = L.circle(
                [41.36476, 2.15565],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_db5ac06ef041e5b6993e118f4d3209a5);
        
    
            circle_dceaaf9f0a3da577446873255a5e3b97.bindTooltip(
                `<div>
                     Estadi Olímpic Lluis Companys
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_90d5bf0852c9adac2f14a96550437443 = L.marker(
                [40.42394, -3.6758],
                {}
            ).addTo(map_db5ac06ef041e5b6993e118f4d3209a5);
        
    
            var icon_f608ceea786836b7d82fcd87b413efdd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_90d5bf0852c9adac2f14a96550437443.setIcon(icon_f608ceea786836b7d82fcd87b413efdd);
        
    
        var popup_7d63e6dc7a5c993ab2a41b38fd8c23f5 = L.popup({"maxWidth": "100%"});

        
            
                var html_551768a719bb1eb722ac5f80e56fa1ca = $(`<div id="html_551768a719bb1eb722ac5f80e56fa1ca" style="width: 100.0%; height: 100.0%;"><b>Evento: Ozzy Osbourne 'No More Tours 2'</b></div>`)[0];
                popup_7d63e6dc7a5c993ab2a41b38fd8c23f5.setContent(html_551768a719bb1eb722ac5f80e56fa1ca);
            
        

        marker_90d5bf0852c9adac2f14a96550437443.bindPopup(popup_7d63e6dc7a5c993ab2a41b38fd8c23f5)
        ;

        
    
    
            var circle_e11c66961eff0014d6ebdc04f7afce16 = L.circle(
                [40.42394, -3.6758],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_db5ac06ef041e5b6993e118f4d3209a5);
        
    
            circle_e11c66961eff0014d6ebdc04f7afce16.bindTooltip(
                `<div>
                     WiZink Center
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ba3070a30f995bd597ef10a26baa31ed = L.marker(
                [38.88571, 1.40418],
                {}
            ).addTo(map_db5ac06ef041e5b6993e118f4d3209a5);
        
    
            var icon_b633a87838b33c72075c0cd1f494f737 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_ba3070a30f995bd597ef10a26baa31ed.setIcon(icon_b633a87838b33c72075c0cd1f494f737);
        
    
        var popup_bdaa4162948c78215d1676f87fe81c72 = L.popup({"maxWidth": "100%"});

        
            
                var html_dc0c9f488cd0c7d4639fe6e948d6c7e3 = $(`<div id="html_dc0c9f488cd0c7d4639fe6e948d6c7e3" style="width: 100.0%; height: 100.0%;"><b>Evento: Glitterbox</b></div>`)[0];
                popup_bdaa4162948c78215d1676f87fe81c72.setContent(html_dc0c9f488cd0c7d4639fe6e948d6c7e3);
            
        

        marker_ba3070a30f995bd597ef10a26baa31ed.bindPopup(popup_bdaa4162948c78215d1676f87fe81c72)
        ;

        
    
    
            var circle_db57db6dd0378e08142ffed00429ab2b = L.circle(
                [38.88571, 1.40418],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_db5ac06ef041e5b6993e118f4d3209a5);
        
    
            circle_db57db6dd0378e08142ffed00429ab2b.bindTooltip(
                `<div>
                     Hï Ibiza
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_6980df549de212d6724f232c5733ba44 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_37c0b7acba3c2755f75606401716c20c = new L.Control.MiniMap(
                tile_layer_6980df549de212d6724f232c5733ba44,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_db5ac06ef041e5b6993e118f4d3209a5.addControl(mini_map_37c0b7acba3c2755f75606401716c20c);
        
</script>
</html>