<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_670e60f3c6d2039add604fcf58c3e780 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_670e60f3c6d2039add604fcf58c3e780" ></div>
        
</body>
<script>
    
    
            var map_670e60f3c6d2039add604fcf58c3e780 = L.map(
                "map_670e60f3c6d2039add604fcf58c3e780",
                {
                    center: [40.463667, -3.74922],
                    crs: L.CRS.EPSG3857,
                    zoom: 6.45,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_670e60f3c6d2039add604fcf58c3e780);

            

        
    
            var tile_layer_73dc03f8988aa4ae508afafc07e048d4 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_670e60f3c6d2039add604fcf58c3e780);
        
    
            var marker_cda73178025c7b8ab61db197d995cc22 = L.marker(
                [40.413, -3.72215],
                {}
            ).addTo(map_670e60f3c6d2039add604fcf58c3e780);
        
    
            var icon_60df1486e2f515ce380dca4995d556a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_cda73178025c7b8ab61db197d995cc22.setIcon(icon_60df1486e2f515ce380dca4995d556a9);
        
    
        var popup_11b9315df596ccdfcad1860d7d0b980b = L.popup({"maxWidth": "100%"});

        
            
                var html_0e1454dc3028371d78e5087adfb0a7af = $(`<div id="html_0e1454dc3028371d78e5087adfb0a7af" style="width: 100.0%; height: 100.0%;"><b>Evento: VV</b></div>`)[0];
                popup_11b9315df596ccdfcad1860d7d0b980b.setContent(html_0e1454dc3028371d78e5087adfb0a7af);
            
        

        marker_cda73178025c7b8ab61db197d995cc22.bindPopup(popup_11b9315df596ccdfcad1860d7d0b980b)
        ;

        
    
    
            var circle_81543ac8e654277eae9016c85878b8f5 = L.circle(
                [40.413, -3.72215],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_670e60f3c6d2039add604fcf58c3e780);
        
    
            circle_81543ac8e654277eae9016c85878b8f5.bindTooltip(
                `<div>
                     La Riviera
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51aa12de74a556fb9c19623a0c8f455d = L.marker(
                [42.85222, -2.67649],
                {}
            ).addTo(map_670e60f3c6d2039add604fcf58c3e780);
        
    
            var icon_34aaf34883316050bc7abde8fde0604e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_51aa12de74a556fb9c19623a0c8f455d.setIcon(icon_34aaf34883316050bc7abde8fde0604e);
        
    
        var popup_4114c8f2404d8944c577f8b7eddd5e45 = L.popup({"maxWidth": "100%"});

        
            
                var html_6c668ed2a217f250380d9c3de7626b7f = $(`<div id="html_6c668ed2a217f250380d9c3de7626b7f" style="width: 100.0%; height: 100.0%;"><b>Evento: Uoho</b></div>`)[0];
                popup_4114c8f2404d8944c577f8b7eddd5e45.setContent(html_6c668ed2a217f250380d9c3de7626b7f);
            
        

        marker_51aa12de74a556fb9c19623a0c8f455d.bindPopup(popup_4114c8f2404d8944c577f8b7eddd5e45)
        ;

        
    
    
            var circle_d40d626d04139eba5fb9093a5ed8b6a2 = L.circle(
                [42.85222, -2.67649],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_670e60f3c6d2039add604fcf58c3e780);
        
    
            circle_d40d626d04139eba5fb9093a5ed8b6a2.bindTooltip(
                `<div>
                     Sala Jimmy Jazz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_37f0b376760d5e9be79f5e90d1d94b8f = L.marker(
                [41.36476, 2.15565],
                {}
            ).addTo(map_670e60f3c6d2039add604fcf58c3e780);
        
    
            var icon_c73326ed0a47a101637743b3419fe9ca = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_37f0b376760d5e9be79f5e90d1d94b8f.setIcon(icon_c73326ed0a47a101637743b3419fe9ca);
        
    
        var popup_7149fd68097d2ad33d1999b8a530010e = L.popup({"maxWidth": "100%"});

        
            
                var html_ba71dea2a06eedd12e77e1711a4f528e = $(`<div id="html_ba71dea2a06eedd12e77e1711a4f528e" style="width: 100.0%; height: 100.0%;"><b>Evento: BEYONCÉ | VIP2 PURE/HONEY ON STAGE RISERS</b></div>`)[0];
                popup_7149fd68097d2ad33d1999b8a530010e.setContent(html_ba71dea2a06eedd12e77e1711a4f528e);
            
        

        marker_37f0b376760d5e9be79f5e90d1d94b8f.bindPopup(popup_7149fd68097d2ad33d1999b8a530010e)
        ;

        
    
    
            var circle_9e2d4b7dd04a0af33a8f990498d54202 = L.circle(
                [41.36476, 2.15565],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_670e60f3c6d2039add604fcf58c3e780);
        
    
            circle_9e2d4b7dd04a0af33a8f990498d54202.bindTooltip(
                `<div>
                     Estadi Olímpic Lluis Companys
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_c828db303f7579fe3dec274bd51db567 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_240c24aa4415db8095d8f9610d4850bf = new L.Control.MiniMap(
                tile_layer_c828db303f7579fe3dec274bd51db567,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_670e60f3c6d2039add604fcf58c3e780.addControl(mini_map_240c24aa4415db8095d8f9610d4850bf);
        
</script>
</html>