<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d757445c6bacfd192c2599d0d86122bf {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_d757445c6bacfd192c2599d0d86122bf" ></div>
        
</body>
<script>
    
    
            var map_d757445c6bacfd192c2599d0d86122bf = L.map(
                "map_d757445c6bacfd192c2599d0d86122bf",
                {
                    center: [40.463667, -3.74922],
                    crs: L.CRS.EPSG3857,
                    zoom: 6.45,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_d757445c6bacfd192c2599d0d86122bf);

            

        
    
            var tile_layer_acf9b56e98bff17dfbfd3cd1eee30e48 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            var marker_fe9c973e9fb3959353fb5180291bbc53 = L.marker(
                [41.36476, 2.15565],
                {}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            var icon_eb4011e9e7423e1cac1d3ee462ab69e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_fe9c973e9fb3959353fb5180291bbc53.setIcon(icon_eb4011e9e7423e1cac1d3ee462ab69e2);
        
    
        var popup_853330dd8d786becf10b580b06d1c68c = L.popup({"maxWidth": "100%"});

        
            
                var html_0bd518f60bfe75757f0cd7f23e713792 = $(`<div id="html_0bd518f60bfe75757f0cd7f23e713792" style="width: 100.0%; height: 100.0%;"><b>Evento: BEYONCÉ | VIP2 PURE/HONEY ON STAGE RISERS</b></div>`)[0];
                popup_853330dd8d786becf10b580b06d1c68c.setContent(html_0bd518f60bfe75757f0cd7f23e713792);
            
        

        marker_fe9c973e9fb3959353fb5180291bbc53.bindPopup(popup_853330dd8d786becf10b580b06d1c68c)
        ;

        
    
    
            var circle_63499667bdb85a63c02088f1ebfa9d0e = L.circle(
                [41.36476, 2.15565],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            circle_63499667bdb85a63c02088f1ebfa9d0e.bindTooltip(
                `<div>
                     Estadi Olímpic Lluis Companys
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_30641145c782ab44c9ea4f487be1efeb = L.marker(
                [41.36476, 2.15565],
                {}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            var icon_32a9ea2b2f8cc6a84515ae4bca70c142 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_30641145c782ab44c9ea4f487be1efeb.setIcon(icon_32a9ea2b2f8cc6a84515ae4bca70c142);
        
    
        var popup_5364e78fe7c80a6e28574fe8f2d7152f = L.popup({"maxWidth": "100%"});

        
            
                var html_0c86eabf014fecc8812cdd7b5bdbf1e2 = $(`<div id="html_0c86eabf014fecc8812cdd7b5bdbf1e2" style="width: 100.0%; height: 100.0%;"><b>Evento: BEYONCÉ | VIP8 GOLD VIP FAN TICKET PACKAGE</b></div>`)[0];
                popup_5364e78fe7c80a6e28574fe8f2d7152f.setContent(html_0c86eabf014fecc8812cdd7b5bdbf1e2);
            
        

        marker_30641145c782ab44c9ea4f487be1efeb.bindPopup(popup_5364e78fe7c80a6e28574fe8f2d7152f)
        ;

        
    
    
            var circle_d166f2dba1ca4f43f22d3bbc0a445fb0 = L.circle(
                [41.36476, 2.15565],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            circle_d166f2dba1ca4f43f22d3bbc0a445fb0.bindTooltip(
                `<div>
                     Estadi Olímpic Lluis Companys
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8e1741a59e90221e8d7922122fca83b = L.marker(
                [41.39417, 2.19727],
                {}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            var icon_72d176671a945b047312cf69004ae339 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_e8e1741a59e90221e8d7922122fca83b.setIcon(icon_72d176671a945b047312cf69004ae339);
        
    
        var popup_f2b63a80a95a071941b937c5704de289 = L.popup({"maxWidth": "100%"});

        
            
                var html_8fe982a10b627a67e34809ff31c2124a = $(`<div id="html_8fe982a10b627a67e34809ff31c2124a" style="width: 100.0%; height: 100.0%;"><b>Evento: Vida Records </b></div>`)[0];
                popup_f2b63a80a95a071941b937c5704de289.setContent(html_8fe982a10b627a67e34809ff31c2124a);
            
        

        marker_e8e1741a59e90221e8d7922122fca83b.bindPopup(popup_f2b63a80a95a071941b937c5704de289)
        ;

        
    
    
            var circle_d926e894cb5923701c924e70f761ea87 = L.circle(
                [41.39417, 2.19727],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            circle_d926e894cb5923701c924e70f761ea87.bindTooltip(
                `<div>
                     La Nau
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_16890d8c6704758797e9021bc3622d28 = L.marker(
                [42.8786, -8.55448],
                {}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            var icon_0f6a78735deff507f56de35d776e35ba = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "lightgreen", "prefix": "glyphicon"}
            );
            marker_16890d8c6704758797e9021bc3622d28.setIcon(icon_0f6a78735deff507f56de35d776e35ba);
        
    
        var popup_d41e26eeb8330bad45641e44b93320fd = L.popup({"maxWidth": "100%"});

        
            
                var html_61ac50ea1cfb455138a8539ad39866fe = $(`<div id="html_61ac50ea1cfb455138a8539ad39866fe" style="width: 100.0%; height: 100.0%;"><b>Evento: Las Ninyas del Corro</b></div>`)[0];
                popup_d41e26eeb8330bad45641e44b93320fd.setContent(html_61ac50ea1cfb455138a8539ad39866fe);
            
        

        marker_16890d8c6704758797e9021bc3622d28.bindPopup(popup_d41e26eeb8330bad45641e44b93320fd)
        ;

        
    
    
            var circle_b7f52d8d9cc1770b0acbd6bb7e21b4e2 = L.circle(
                [42.8786, -8.55448],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_d757445c6bacfd192c2599d0d86122bf);
        
    
            circle_b7f52d8d9cc1770b0acbd6bb7e21b4e2.bindTooltip(
                `<div>
                     Sala Malatesta
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_f5a50afea0fc239e760e55799d18209e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_e5750d5cad5cf25fd8c7000531899559 = new L.Control.MiniMap(
                tile_layer_f5a50afea0fc239e760e55799d18209e,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_d757445c6bacfd192c2599d0d86122bf.addControl(mini_map_e5750d5cad5cf25fd8c7000531899559);
        
</script>
</html>