<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_b43f1fb4e8acf8d83b463d156f9fe329 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_b43f1fb4e8acf8d83b463d156f9fe329" ></div>
        
</body>
<script>
    
    
            var map_b43f1fb4e8acf8d83b463d156f9fe329 = L.map(
                "map_b43f1fb4e8acf8d83b463d156f9fe329",
                {
                    center: [40.463667, -3.74922],
                    crs: L.CRS.EPSG3857,
                    zoom: 6.45,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);

            

        
    
            var tile_layer_27ec6dcf7f26d752d01d69f928720173 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);
        
    
            var marker_ee864890c0663ffc2d901a4e7b4ce40d = L.marker(
                [40.463667, -3.74922],
                {}
            ).addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);
        
    
        var popup_d0b25b3c986ace218b4e552ae3ec3065 = L.popup({"maxWidth": "100%"});

        
            
                var html_e7e12b12563d8bfffe404f8d6aa989ea = $(`<div id="html_e7e12b12563d8bfffe404f8d6aa989ea" style="width: 100.0%; height: 100.0%;"><b>Madrid</b></div>`)[0];
                popup_d0b25b3c986ace218b4e552ae3ec3065.setContent(html_e7e12b12563d8bfffe404f8d6aa989ea);
            
        

        marker_ee864890c0663ffc2d901a4e7b4ce40d.bindPopup(popup_d0b25b3c986ace218b4e552ae3ec3065)
        ;

        
    
    
            var circle_ea2fd62e236ba48e84a836debecd6c98 = L.circle(
                [40.463667, -3.74922],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);
        
    
            circle_ea2fd62e236ba48e84a836debecd6c98.bindTooltip(
                `<div>
                     <b>Madrid</b>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cc629f76fbac005e105b3ce67ff7a3f1 = L.marker(
                [39.47649, -6.37224],
                {}
            ).addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);
        
    
        var popup_9f86180b0db71b02ff5263b405ed42d4 = L.popup({"maxWidth": "100%"});

        
            
                var html_6bdf2569099e4e543e218b89fc781718 = $(`<div id="html_6bdf2569099e4e543e218b89fc781718" style="width: 100.0%; height: 100.0%;"><b>Caceres</b></div>`)[0];
                popup_9f86180b0db71b02ff5263b405ed42d4.setContent(html_6bdf2569099e4e543e218b89fc781718);
            
        

        marker_cc629f76fbac005e105b3ce67ff7a3f1.bindPopup(popup_9f86180b0db71b02ff5263b405ed42d4)
        ;

        
    
    
            var circle_b41194e0c4adbe0e302e9820e28687a2 = L.circle(
                [39.47649, -6.37224],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);
        
    
            circle_b41194e0c4adbe0e302e9820e28687a2.bindTooltip(
                `<div>
                     <b>Caceres</b>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4149be45314eade69d02970e6af6ce3e = L.marker(
                [42.35022, -3.67527],
                {}
            ).addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);
        
    
        var popup_800dd4b3e9894711bc696416cc1f9dc8 = L.popup({"maxWidth": "100%"});

        
            
                var html_164f17cd981ae4538e48c76fdab67a03 = $(`<div id="html_164f17cd981ae4538e48c76fdab67a03" style="width: 100.0%; height: 100.0%;"><b>Burgos</b></div>`)[0];
                popup_800dd4b3e9894711bc696416cc1f9dc8.setContent(html_164f17cd981ae4538e48c76fdab67a03);
            
        

        marker_4149be45314eade69d02970e6af6ce3e.bindPopup(popup_800dd4b3e9894711bc696416cc1f9dc8)
        ;

        
    
    
            var circle_181c9b30b7915c8fd163564d042b3d72 = L.circle(
                [42.35022, -3.67527],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 0.5, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 50, "stroke": true, "weight": 4}
            ).addTo(map_b43f1fb4e8acf8d83b463d156f9fe329);
        
    
            circle_181c9b30b7915c8fd163564d042b3d72.bindTooltip(
                `<div>
                     <b>Burgos</b>
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_c94d3584088eac13ec376774682beb3f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
            var mini_map_3a4602f33c47f97380ac9874bb446148 = new L.Control.MiniMap(
                tile_layer_c94d3584088eac13ec376774682beb3f,
                {"autoToggleDisplay": false, "centerFixed": false, "collapsedHeight": 25, "collapsedWidth": 25, "height": 150, "minimized": false, "position": "bottomright", "toggleDisplay": false, "width": 150, "zoomAnimation": false, "zoomLevelOffset": -5}
            );
            map_b43f1fb4e8acf8d83b463d156f9fe329.addControl(mini_map_3a4602f33c47f97380ac9874bb446148);
        
</script>
</html>