{% extends "layout.html" %}
{% block head %} {% endblock %}
{% block title %}App{% endblock %}

{% block content %}

{% macro card(icon,text,info,unit) -%}
<p class="d-flex gap-2 fs-6 align-items-center card-text m-0"><i
    class="wi {{icon}} wi-fw fs-4"></i>{{text}}<span>{{info}}{{unit}}</span></p>
{% endmacro -%}

<div class="text-center text-warning">
  <h1>Meterología</h1>
</div>

<div class="text-center my-4 fs-5" style="color: orange;">Tiempo actual en {{ weather.city }}</div>
<div class="container d-flex gap-5">
  <div class="card card-body gap-3 text-bg-light bg-opacity-75 shadow-lg meteo-card">
    {{card("wi-night-sleet","Fecha:",weather.fecha)}}
    {{card("wi-thermometer-internal","Temperatura",weather.temp,"ºC")}}
    {{card("wi-thermometer","Temperatura Min",weather.temp_min,"ºC")}}
    {{card("wi-thermometer-exterior","Temperatura Max",weather.temp_max,"ºC")}}
  </div>
  <div class="card card-body gap-3 text-bg-light bg-opacity-75 shadow-lg meteo-card">
    {{card("wi-day-cloudy","Clima",weather.clim)}}
    {{card("wi-humidity","Humedad",weather.humidity,"g/m3")}}
    {{card("wi-strong-wind","Viento",weather.windspeed,"m/s")}}
    {{card("wi-barometer","Presión del aire",weather.pressure,"PA")}}
  </div>
</div>


<div class="text-center my-4 fs-5" style="color: rgb(182, 241, 72);"">PREVISIÓN DE 6 DÍAS</div>
<div class="container-fluid px-4 gap-3 meteo-wrapper">
  {% for clima in clima7d %}
      <div class="card card-body gap-3 text-bg-light bg-opacity-75 shadow-lg meteo-card">
        <h6 class="card-title">{{ clima.fecha }}</h6>
        <img src="{{url_for('static', filename='wi/{}.png'.format(clima.icono))}}">
        {{card("wi-thermometer","Temp Min: ",clima.temp_min,"ºC")}}
        {{card("wi-thermometer-exterior","Temp Max: ",clima.temp_max,"ºC")}}
        {{card("wi-strong-wind","Viento: ",clima.viento,"m/s")}}
        <img src="{{url_for('static', filename='wd/{}.png'.format(clima.icono_viento))}}">
      </div>
  {% endfor %}
</div>


<div class="row" style="margin-top: 5%;">
  <div class="col-md-3">
    <div class="card" style="background-color: rgba(255,255,255,0.2);">
      <div class="card-body">
        <h6 class="card-text" style="color: rgb(236, 235, 227);text-align: center;"> {{ preparase.fecha }} </h6>
        <br>
        <h6 class="card-title" style="color: yellowgreen;text-align: center;font-size: large;"> Prepárese para su día
        </h6>
        <br>
        <h6 class="card-title" style="color: white;"><img src="{{url_for('static', filename='img/Paraguas.png')}}">&nbsp
          Paragüas: &nbsp<span style="color:orange">{{ preparase.paraguas }} </span></h6>
        <h6 class="card-title" style="color: white;"><img src="{{url_for('static', filename='img/Abrigo.png')}}">&nbsp
          Abrigo: &nbsp<span style="color:orange">{{ preparase.abrigo }} </span></h6>
        <h6 class="card-title" style="color: white;"><img src="{{url_for('static', filename='img/Aire.png')}}">&nbsp Al
          aire libre: &nbsp<span style="color:orange">{{ preparase.aireLibre }} </span></h6>
        <h6 class="card-title" style="color: white;"><img
            src="{{url_for('static', filename='img/SensTer.png')}}">&nbsp&nbsp Sensación Térmica: &nbsp<span
            style="color:orange">{{ preparase.sensTermica }}</span></h6>
      </div>
    </div>
  </div>
</div>

{% endblock %}