{% extends "layout.html" %}
{% block head %} {% endblock %}
{% block title %}App{% endblock %}

{% block content %} 

<div class="titulo-met">
  <h1>Metereología</h1>
</div>

<div style="margin-left: 43%;font-size: large;color: white;">Tiempo actual en {{ weather.city }} <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png"></div>
<div class="container-met">
  <div class="met">
    <p>Fecha: <span style="color: orange" id="currentDate"></span></p>
    <p>Temperatura: <span style="color:orange">{{ weather.temp }} ºC</span></p>
    <p>Temperatura Min: <span style="color:orange">{{ weather.temp_min }} ºC</span></p>
    <p>Temperatura Max: <span style="color:orange">{{ weather.temp_max }} ºC</span></p>
  </div>
  <div class="met">
    <p>Clima: <span style="color:orange">{{ weather.clim}}</span></p>
    <p>Humedad: <span style="color:orange">{{ weather.humidity }} g/m3</span></p>
    <p>Viento: <span style="color:orange">{{ weather.windspeed }} m/s</span></p>
    <p>Presion: <span style="color:orange">{{ weather.pressure }} PA</span></p>
  </div>
</div>


<div class="row" style="margin-top: 5%;">
  {% for clima in clima7d %}
  <div class="col-md-2">
        <div class="card" style="background-color: cadetblue;">
          <div class="card-body">
            <h6 class="card-title" style="color: yellowgreen;margin-left: 26%;">{{ clima.fecha }} </h6>
            <img style="margin-left: 30%;" src="{{url_for('static', filename='wi/{{clima.icono}}.png')}}">
            <h6 class="card-title" style="color: yellowgreen;">Temp Min: {{ clima.temp_min }} ºC</h6>
            <h6 class="card-title" style="color: yellowgreen;">Temp Max: {{ clima.temp_max }} ºC</h6>
            <h6 class="card-title" style="color: yellowgreen;">Viento: {{ clima.viento }} m/s</h6>
            <img style="margin-left: 30%;" src="{{url_for('static', filename='wd/{{clima.icono_viento}}.png')}}">
          </div>
        </div>
  </div>
  {% endfor %}
</div>
    

<script>
  var today = new Date();
  var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
  document.getElementById("currentDate").innerHTML = date;
  var today = new Date();
  var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
  document.getElementById("currentTime").innerHTML = time;
</script>
{% endblock %}